<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ace Editor Example</title>
    <!-- Dodaj styl Ace Editor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.min.css"/>

    <!-- Dodaj skrypt Ace Editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>

    <!-- Dodaj rozszerzenie do automatycznego rozpoznawania języka -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-modelist.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


    <style>
#editor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    </style>



</head>
<body>
    <!-- Div, w którym będzie znajdować się Ace Editor -->
    <div id="editor" style="height: auto; width: 100%;">Some initial text...</div>


 <!-- script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js"></script> -->

    <script>
        // Inicjalizacja Ace Editor
        var editor = ace.edit("editor");

        var fileExt = "{{ ext }}";

        editor.setTheme("ace/theme/monokai");

        $.ajax({
            url: "{{ url_for('get_file_route', path=file) }}",
            method: 'get',
            dataType: 'text',
            success: function (data) {
                //console.log(data);
                editor.setValue(data); // Ustawia zawartość pliku w edytorze
                //$("#aceEditorContainer").attr("data-href", filePath);
            },
            error: function () {
                alert('Wystąpił błąd podczas wczytywania pliku.');
            }
        });

        // Pobierz instancję modelist
        var modelist = ace.require("ace/ext/modelist");

        // Funkcja do automatycznego ustawienia języka na podstawie rozszerzenia pliku
        function setLanguageByFileExtension(fileName) {
            var mode = modelist.getModeForPath(fileName).mode;
            editor.session.setMode(mode);
        }

        // Wywołaj funkcję dla dowolnego pliku, aby automatycznie ustawić język
        setLanguageByFileExtension("{{ file }}");
    </script>
</body>
</html>
